# Java / Maven
backend/target/
backend/*.jar
backend/.settings/
backend/.classpath
backend/.project
backend/.factorypath

# Node / React
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDEs
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
